.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px;
}

.h1,
.h2 {
  font-family: "Oswald" !important;
  font-style: italic !important;
  text-transform: uppercase !important;
}
.h3 {
  font-size: 22px;
  font-family: "karla" !important;
  @media only screen and (max-width: 900px) {
    font-size: 18px;
    width: 350px;
    margin: 0 auto;
  }
}
p {
  font-family: "karla" !important;
  line-height: 1.8;
  font-weight: 500;
  color: #5f5f5f;
}
label {
  font-family: "karla" !important;
  font-size: 14px;
}

button,
input[type="submit"],
input[type="reset"] {
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  width: 130px;
  padding: 8px 0;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  position: relative;
  transition: all 0.4s ease;

  .border-top-bottom::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: -6px;
    left: -7px;
    background: #fff;
    transition: all 0.4s ease;
  }
  .border-top-bottom::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    bottom: -6px;
    right: -7px;
    background: #fff;
    transition: all 0.4s ease;
  }
  .border-left-right:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 3px;
    height: 25px;
    background: #fff;
    transition: all 0.4s ease;
  }
  .border-left-right:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -7px;
    width: 3px;
    height: 25px;
    background: #fff;
    transition: all 0.4s ease;
  }
  &:hover .border-top-bottom:before,
  &:hover .border-top-bottom:after {
    width: 144px;
    background: #b60000;
    transition: all 0.4s ease;
  }

  &:hover .border-left-right:before,
  &:hover .border-left-right:after {
    height: 50px;
    background: #b60000;
    transition: all 0.4s ease;
  }
  &:focus .border-top-bottom:before,
  &:focus .border-top-bottom:after {
    width: 144px;
    background: #b60000;
    transition: all 0.4s ease;
  }

  &:focus .border-left-right:before,
  &:focus .border-left-right:after {
    height: 50px;
    background: #b60000;
    transition: all 0.4s ease;
  }
}

.btn2 {
  display: inline-block;
  text-transform: uppercase;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  width: 130px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  background-color: transparent;
  color: black;
  position: relative;
  transition: all 0.4s ease;

  .border-top-bottom::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    top: -6px;
    left: -7px;
    background: black;
    transition: all 0.4s ease;
  }
  .border-top-bottom::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    bottom: -6px;
    right: -7px;
    background: black;
    transition: all 0.4s ease;
  }
  .border-left-right:before {
    content: "";
    position: absolute;
    top: -4px;
    left: -7px;
    width: 3px;
    height: 25px;
    background: black;
    transition: all 0.4s ease;
  }
  .border-left-right:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: -7px;
    width: 3px;
    height: 25px;
    background: black;
    transition: all 0.4s ease;
  }
  &:hover .border-top-bottom:before,
  &:hover .border-top-bottom:after {
    width: 144px;
    background: #b60000;
    transition: all 0.4s ease;
  }

  &:hover .border-left-right:before,
  &:hover .border-left-right:after {
    height: 50px;
    background: #b60000;
    transition: all 0.4s ease;
  }
  &:focus .border-top-bottom:before,
  &:focus .border-top-bottom:after {
    width: 144px;
    background: #b60000;
    transition: all 0.4s ease;
  }

  &:focus .border-left-right:before,
  &:focus .border-left-right:after {
    height: 50px;
    background: #b60000;
    transition: all 0.4s ease;
  }
}
